.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0 20px;
	background-color: #222222;
}

.header h1 {
	color: #fff;
}

.header button {
	background-color: #007bff;
	text-decoration: none;
	color: #fff;
	height: 50px;
	width: 100px;
	text-align: center;
}
